logs
*.log
npm-debug.log*
pids
*.pid
*.seed
.idea
dist
lib-cov
coverage
.lock-wscript
node_modules
.npm
.node_repl_history
package-lock.json
.env
.husky
log
sonar-project.properties
.scannerwork
.vscode
.clinic
.npmrc